In [1]:
import numpy as np
import pandas as pd

# **PANDAS**

### **Today's Agenda**:
#### **Adding and Dropping Columns and Rows**  
#### **Index methods**   
#### **Update & Modify Rows**   
#### **Groupby**   
#### **Missing Data**

#### Reading From CSV

In [5]:
df = pd.read_csv('world-happiness-report-2021.csv')

### **Variables**

-**Ladder score** - Happiness score or subjective well-being. This is the national average response to the question of life evaluations.

**Question:** Please imagine a ladder, with steps numbered from 0 at the bottom to 10 at the top. The top of the ladder represents the best possible life for you and the bottom of the ladder represents the worst possible life for you. On which step of the ladder would you say you personally feel you stand at this time?
Logged GDP per capita - The GDP-per-capita time series from 2019 to 2020 using countryspecific forecasts of real GDP growth in 2020.

-**Social support** - Is the national average of the binary responses (either 0 or 1) to the GWP question “If you were in trouble, do you have relatives or friends you can count on to help you whenever you need them, or not.

-**Healthy life expectancy** - Healthy life expectancies at birth are based on the data extracted from the World Health Organization’s (WHO) Global Health Observatory data repository (Last updated: 2020-09-28)

-**Freedom to make life choices** - Is is the national average of responses to the GWP question “Are you satisfied or dissatisfied with your freedom to choose what you do with your life?

-**Generosity** - Generosity is the residual of regressing national average of response to the GWP question “Have you donated money to a charity in the past month?” on GDP per capita.

-**Perceptions of corruption** - The measure is the national average of the survey responses to two questions in the GWP: “Is corruption widespread throughout the government or not” and “Is corruption widespread within businesses or not?”

In [24]:
df1 = df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()

In [25]:
df1.set_index('Country name',inplace =True)
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [26]:
df1.shape

(149, 8)

In [27]:
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [28]:
df1.tail()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [32]:
df1.sample(3)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Turkey,Middle East and North Africa,4.948,10.240,0.822,67.199,0.576,-0.139,0.776
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Ethiopia,Sub-Saharan Africa,4.275,7.694,0.764,59.000,0.752,0.082,0.761

In [68]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, Finland to Afghanistan
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Regional indicator            149 non-null    object
 1   Ladder score                  149 non-null    float64
 2   Logged GDP per capita         149 non-null    float64
 3   Social support                149 non-null    float64
 4   Healthy life expectancy       149 non-null    float64
 5   Freedom to make life choices  149 non-null    float64
 6   Generosity                    149 non-null    float64
 7   Perceptions of corruption     149 non-null    float64
dtypes: float64(7), object(1)
memory usage: 10.5+ KB

In [36]:
df1.describe()

,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450
std,1.073924,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226
min,2.523000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000
25%,4.852000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000
50%,5.534000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000
75%,6.255000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000
max,7.842000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000

In [38]:
q1=np.percentile(df1["Ladder score"],25)
q1

4.852

In [39]:
q2=np.percentile(df1["Ladder score"],50)
q2

5.534

In [40]:
q3=np.percentile(df1["Ladder score"],75)
q3

6.255

In [44]:
iqr=q3-q1
round(iqr,3)

1.403

In [45]:
left=q1-1.5*iqr
left

2.747500000000001

In [46]:
left_outlier=df1[df1["Ladder score"]<left]
left_outlier

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [47]:
right=q3+1.5*iqr
right

8.359499999999999

In [49]:
right_outlier=df1[df1["Ladder score"]>right]
right_outlier

Empty DataFrame
Columns: [Regional indicator, Ladder score, Logged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [50]:
df1.drop("Afghanistan",axis=0,inplace=True)

In [52]:
df1.shape

(148, 8)

In [57]:
df1.isnull().sum()

Regional indicator              0
Ladder score                    0
Logged GDP per capita           0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [71]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

##### **value_counts()**

In [58]:
df1.index

Index(['Finland', 'Denmark', 'Switzerland', 'Iceland', 'Netherlands', 'Norway',
       'Sweden', 'Luxembourg', 'New Zealand', 'Austria',
       ...
       'India', 'Burundi', 'Yemen', 'Tanzania', 'Haiti', 'Malawi', 'Lesotho',
       'Botswana', 'Rwanda', 'Zimbabwe'],
      dtype='object', name='Country name', length=148)

In [59]:
df1['Regional indicator'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             6
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

#### Exercise (slicing, loc & iloc):

-Germany, Ethiopia, Peru, Chad, Japan.  Freedom to make life choices, Healthy life expectancy

In [60]:
df1.loc[["Germany","Ethiopia","Peru","Chad","Japan"],["Freedom to make life choices","Healthy life expectancy"]]

              Freedom to make life choices  Healthy life expectancy
Country name
Germany                              0.875                   72.500
Ethiopia                             0.752                   59.000
Peru                                 0.822                   68.250
Chad                                 0.579                   48.478
Japan                                0.796                   75.100

In [64]:
df1.head(1)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186

In [70]:
df1.iloc[[25,52,65,145],[1,7]]

              Ladder score  Perceptions of corruption
Country name
Saudi Arabia         6.494                      0.684
Hungary              5.992                      0.876
Ecuador              5.764                      0.843
Botswana             3.467                      0.801

In [76]:
df1.iloc[[25,52,65,145], [1,7]]

              Ladder score  Perceptions of corruption
Country name
Saudi Arabia         6.494                      0.684
Hungary              5.992                      0.876
Ecuador              5.764                      0.843
Botswana             3.467                      0.801

### Conditional Filtering

In [72]:
df1.head(1)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186

In [80]:
df1[(df1["Regional indicator"]=="Central and Eastern Europe")&(df1["Perceptions of corruption"]>0.9)][["Ladder score","Generosity"]]

                        Ladder score  Generosity
Country name
Kosovo                         6.372       0.257
Slovakia                       6.331      -0.124
Romania                        6.140      -0.219
Croatia                        5.882      -0.118
Bosnia and Herzegovina         5.813       0.113
Bulgaria                       5.266      -0.096
Albania                        5.117      -0.030
North Macedonia                5.101       0.038

#### Exercise:Conditional Filtering

- Let's bring the Happiness score from the countries where in Central and Easter  Europe countries 
- **and** where perceptions of corruption higher than 0.9

In [17]:
filt = (df1['Regional indicator']=='Central and Eastern Europe') & (df1['Perceptions of corruption']>0.9)
df1.loc[filt,'Ladder score']

Country name
Kosovo                    6.372
Slovakia                  6.331
Romania                   6.140
Croatia                   5.882
Bosnia and Herzegovina    5.813
Bulgaria                  5.266
Albania                   5.117
North Macedonia           5.101
Name: Ladder score, dtype: float64

In [86]:
df1[(df1["Regional indicator"]=="Sub-Saharan Africa")|\
    (df1["Healthy life expectancy"]<50)][["Ladder score"]]

                     Ladder score
Country name
Mauritius                   6.049
Congo (Brazzaville)         5.342
Ivory Coast                 5.306
Cameroon                    5.142
Senegal                     5.132
Ghana                       5.088
Niger                       5.074
Gambia                      5.051
Benin                       5.045
Guinea                      4.984
South Africa                4.956
Gabon                       4.852
Burkina Faso                4.834
Mozambique                  4.794
Nigeria                     4.759
Mali                        4.723
Uganda                      4.636
Liberia                     4.625
Kenya                       4.607
Namibia                     4.574
Chad                        4.355
Swaziland                   4.308
Comoros                     4.289
Ethiopia                    4.275
Mauritania                  4.227
Madagascar                  4.208
Togo                        4.107
Zambia                      4.073
Sierra Leone                3.849
Burundi                     3.775
Tanzania                    3.623
Malawi                      3.600
Lesotho                     3.512
Botswana                    3.467
Rwanda                      3.415
Zimbabwe                    3.145

#### Exercise:Conditional Filtering

- Let's bring the Happiness score from the countries where in Sub-Saharan Africa countries 
- **or** countries where Healthy life expectancy'lower than 50

In [87]:
filt = (df1['Regional indicator']=='Sub-Saharan Africa') | (df1['Healthy life expectancy']<50)
df1.loc[filt,'Ladder score']

Country name
Mauritius              6.049
Congo (Brazzaville)    5.342
Ivory Coast            5.306
Cameroon               5.142
Senegal                5.132
Ghana                  5.088
Niger                  5.074
Gambia                 5.051
Benin                  5.045
Guinea                 4.984
South Africa           4.956
Gabon                  4.852
Burkina Faso           4.834
Mozambique             4.794
Nigeria                4.759
Mali                   4.723
Uganda                 4.636
Liberia                4.625
Kenya                  4.607
Namibia                4.574
Chad                   4.355
Swaziland              4.308
Comoros                4.289
Ethiopia               4.275
Mauritania             4.227
Madagascar             4.208
Togo                   4.107
Zambia                 4.073
Sierra Leone           3.849
Burundi                3.775
Tanzania               3.623
Malawi                 3.600
Lesotho                3.512
Botswana               3.467
Rwanda                 3.415
Zimbabwe               3.145
Name: Ladder score, dtype: float64

In [ ]:
Let's randomly bring 7 countries with their 'Regional indicator','Ladder score','Perceptions of corruption' scores
Condition : Those countries are not in Western Europe or their 'Perceptions of corruption' scores are not bigger than 0.66

In [ ]:
(df1['Regional indicator']!="Western Europe")|(df1[])

#### Exercise:Conditional Filtering

- Let's **randomly** bring 7 countries with their 'Regional indicator','Ladder score','Perceptions of corruption' scores

- Condition : Those countries are not in Western Europe **or** their 'Perceptions of corruption' scores are not bigger than 0.66

In [117]:
df1[(df1['Regional indicator']=='Western Europe') | (df1['Perceptions of corruption']>=0.66)]\
[['Regional indicator','Ladder score','Perceptions of corruption']].sample(7)

,Regional indicator,Ladder score,Perceptions of corruption
Country name,,,
France,Western Europe,6.690,0.571
South Korea,East Asia,5.845,0.727
Zambia,Sub-Saharan Africa,4.073,0.823
Ghana,Sub-Saharan Africa,5.088,0.848
Turkmenistan,Commonwealth of Independent States,5.066,0.888
Sweden,Western Europe,7.363,0.237
Israel,Middle East and North Africa,7.157,0.753

### **Adding and Dropping Columns and Rows**

##### -To add column to df  --> df[new column name] = values
##### -To drop column from df --> df.drop('column name', axis = 1, inplace=True)
##### -To add row to df  --> df.append(row)
##### -To drop row from df --> df.drop('row name', axis = 0)

In [124]:
df1["new"]=(df1["Ladder score"] + df1["Perceptions of corruption"])/2
df1.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,new
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,4.0140
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,3.8995

In [125]:
df1.drop("new",axis=1,inplace=True)

In [127]:
df1.head()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [130]:
"new" in df1.columns

False

In [131]:
"Denmark" in df1.index

True

In [135]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [171]:
key={'Regional indicator':"Western Europe", 'Ladder score':7, 'Logged GDP per capita':10,
       'Social support':0.9, 'Healthy life expectancy':5,
       'Freedom to make life choices':5, 'Generosity':5,
       'Perceptions of corruption':10}

In [172]:
df1=df1.append(pd.DataFrame(key,index=["Raife"]))
df1

,Freedom to make life choices,Generosity,Healthy life expectancy,Ladder score,Logged GDP per capita,Perceptions of corruption,Regional indicator,Social support
Finland,0.949,-0.098,72.000,7.842,10.775,0.186,Western Europe,0.954
Denmark,0.946,0.030,72.700,7.620,10.933,0.179,Western Europe,0.954
Switzerland,0.919,0.025,74.400,7.571,11.117,0.292,Western Europe,0.942
Iceland,0.955,0.160,73.000,7.554,10.878,0.673,Western Europe,0.983
Netherlands,0.913,0.175,72.400,7.464,10.932,0.338,Western Europe,0.942
...,...,...,...,...,...,...,...,...
Botswana,0.824,-0.246,59.269,3.467,9.782,0.801,Sub-Saharan Africa,0.784
Rwanda,0.897,0.061,61.400,3.415,7.676,0.167,Sub-Saharan Africa,0.552
Zimbabwe,0.677,-0.047,56.201,3.145,7.943,0.821,Sub-Saharan Africa,0.750
Raife,5.000,5.000,5.000,7.000,10.000,10.000,Western Europe,0.900
Raife,5.000,5.000,5.000,7.000,10.000,10.000,Western Europe,0.900

df1.drop("Raife",axis=0,inplace=True)

In [188]:
df1.reset_index(inplace=True)

In [189]:
df1.head(3)

,index,Freedom to make life choices,Generosity,Healthy life expectancy,Ladder score,Logged GDP per capita,Perceptions of corruption,Regional indicator,Social support
0,Finland,0.949,-0.098,72.0,7.842,10.775,0.186,Western Europe,0.954
1,Denmark,0.946,0.030,72.7,7.620,10.933,0.179,Western Europe,0.954
2,Switzerland,0.919,0.025,74.4,7.571,11.117,0.292,Western Europe,0.942

In [194]:
df1.rename(columns={"index":"country"},inplace=True)

In [195]:
df1.head()

,country,Freedom to make life choices,Generosity,Healthy life expectancy,Ladder score,Logged GDP per capita,Perceptions of corruption,Regional indicator,Social support
0,Finland,0.949,-0.098,72.0,7.842,10.775,0.186,Western Europe,0.954
1,Denmark,0.946,0.030,72.7,7.620,10.933,0.179,Western Europe,0.954
2,Switzerland,0.919,0.025,74.4,7.571,11.117,0.292,Western Europe,0.942
3,Iceland,0.955,0.160,73.0,7.554,10.878,0.673,Western Europe,0.983
4,Netherlands,0.913,0.175,72.4,7.464,10.932,0.338,Western Europe,0.942

In [203]:
df1.reset_index(inplace=True)

In [204]:
df1.set_index(["Regional indicator","country"],inplace=True)
df1.head(10)

                                   index  Freedom to make life choices  \
Regional indicator    country
Western Europe        Finland          0                         0.949
                      Denmark          1                         0.946
                      Switzerland      2                         0.919
                      Iceland          3                         0.955
                      Netherlands      4                         0.913
                      Norway           5                         0.960
                      Sweden           6                         0.945
                      Luxembourg       7                         0.907
North America and ANZ New Zealand      8                         0.929
Western Europe        Austria          9                         0.908

                                   Generosity  Healthy life expectancy  \
Regional indicator    country
Western Europe        Finland          -0.098                     72.0
                      Denmark           0.030                     72.7
                      Switzerland       0.025                     74.4
                      Iceland           0.160                     73.0
                      Netherlands       0.175                     72.4
                      Norway            0.093                     73.3
                      Sweden            0.086                     72.7
                      Luxembourg       -0.034                     72.6
North America and ANZ New Zealand       0.134                     73.4
Western Europe        Austria           0.042                     73.3

                                   Ladder score  Logged GDP per capita  \
Regional indicator    country
Western Europe        Finland             7.842                 10.775
                      Denmark             7.620                 10.933
                      Switzerland         7.571                 11.117
                      Iceland             7.554                 10.878
                      Netherlands         7.464                 10.932
                      Norway              7.392                 11.053
                      Sweden              7.363                 10.867
                      Luxembourg          7.324                 11.647
North America and ANZ New Zealand         7.277                 10.643
Western Europe        Austria             7.268                 10.906

                                   Perceptions of corruption  Social support
Regional indicator    country
Western Europe        Finland                          0.186           0.954
                      Denmark                          0.179           0.954
                      Switzerland                      0.292           0.942
                      Iceland                          0.673           0.983
                      Netherlands                      0.338           0.942
                      Norway                           0.270           0.954
                      Sweden                           0.237           0.934
                      Luxembourg                       0.386           0.908
North America and ANZ New Zealand                      0.242           0.948
Western Europe        Austria                          0.481           0.934

In [185]:
# to add new column 
new = np.random.rand(149)

In [198]:
df1.reset_index(inplace=True)

In [186]:
# to drop column
df1.drop('new',axis=1, inplace=True)
df1

KeyError: "['new'] not found in axis"

In [ ]:
# to add row
new_row= df1.loc['Germany']
new_row

In [ ]:
new_row.name='New_name'

In [ ]:
df1= df1.append(new_row)
df1

In [93]:
df1.drop('New_name', axis=0, inplace=True)
df1

KeyError: "['New_name'] not found in axis"

In [ ]:
df1.reset_index(inplace=True)
df1

In [ ]:
#set_index

df1.reset_index(inplace=True)

In [ ]:
df1.index

In [94]:
df1.set_index('Country name', inplace=True)
df1

KeyError: "None of ['Country name'] are in the columns"

In [ ]:
#reset_index

In [ ]:
#set_index

In [ ]:
#sort_index

### Update & Modify Rows

`to update one row` --> df1.loc[2, ['last','email']] = ['Smith', 'JohnSmith@email.com']


`to update multiple rows` : We have several options:

######  First is the basic one: df['email']= df['email'].str.lower()

#####  Advance Options:
`Apply` : Works both on series (one column) and dataframes. But mostly use with series
######  Apply on series --> df['email'].apply(len) <-- it gives the length of the email on the email column(e-mail series)

`Replace` : Works like map, but keeps the not defined values intact. df['first_name'].replace{'chris':'Mike','jane':'Angela'} <-- John keeps its value.

In [95]:
#df2

df2= df1.copy()
df2

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Malawi,Sub-Saharan Africa,3.600,6.958,0.537,57.948,0.780,0.038,0.729
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821

In [96]:
df2['Social support'].apply(np.square)

Country name
Finland        0.910116
Denmark        0.910116
Switzerland    0.887364
Iceland        0.966289
Netherlands    0.887364
                 ...
Malawi         0.288369
Lesotho        0.619369
Botswana       0.614656
Rwanda         0.304704
Zimbabwe       0.562500
Name: Social support, Length: 148, dtype: float64

In [97]:
# Update the ladder score of  of Afghanistan as South_Asia

In [207]:
df1["new"]=df1["Social support"].apply(lambda x : x**2)

In [221]:
def new2(a,b):
    return a/b

In [222]:
df1["Healthy life expectancy"]=df1["Healthy life expectancy"].astype(dtype=int)

TypeError: 'dtype' is an invalid keyword argument for int()

In [225]:
df1["new2"]=np.vectorize(new2)(df1["Social support"],df1["Healthy life expectancy"])
### np.vectoriz(fonksiyon)(parametre)

In [224]:
df1.head()

                                index  Freedom to make life choices  \
Regional indicator country
Western Europe     Finland          0                         0.949
                   Denmark          1                         0.946
                   Switzerland      2                         0.919
                   Iceland          3                         0.955
                   Netherlands      4                         0.913

                                Generosity  Healthy life expectancy  \
Regional indicator country
Western Europe     Finland          -0.098                     72.0
                   Denmark           0.030                     72.7
                   Switzerland       0.025                     74.4
                   Iceland           0.160                     73.0
                   Netherlands       0.175                     72.4

                                Ladder score  Logged GDP per capita  \
Regional indicator country
Western Europe     Finland             7.842                 10.775
                   Denmark             7.620                 10.933
                   Switzerland         7.571                 11.117
                   Iceland             7.554                 10.878
                   Netherlands         7.464                 10.932

                                Perceptions of corruption  Social support  \
Regional indicator country
Western Europe     Finland                          0.186           0.954
                   Denmark                          0.179           0.954
                   Switzerland                      0.292           0.942
                   Iceland                          0.673           0.983
                   Netherlands                      0.338           0.942

                                     new      new2
Regional indicator country
Western Europe     Finland      0.910116  0.013250
                   Denmark      0.910116  0.013122
                   Switzerland  0.887364  0.012661
                   Iceland      0.966289  0.013466
                   Netherlands  0.887364  0.013011

In [98]:
df2.loc['Afghanistan']['Ladder score']

KeyError: 'Afghanistan'

In [ ]:
#### Be carefull about the following error !!!!

df2.loc['Afghanistan']['Ladder score']=8.654

In [99]:
df2.loc['Afghanistan']

KeyError: 'Afghanistan'

In [ ]:
df2.loc['Afghanistan','Ladder score'] = 7.678

In [ ]:
df2.loc['Afghanistan']

#### **Apply**

In [ ]:
df2['Healthy life expectancy'].head()

In [100]:
df2['Healthy life expectancy'].apply(np.square)

Country name
Finland        5184.000000
Denmark        5285.290000
Switzerland    5535.360000
Iceland        5329.000000
Netherlands    5241.760000
                  ...
Malawi         3357.970704
Lesotho        2371.690000
Botswana       3512.814361
Rwanda         3769.960000
Zimbabwe       3158.552401
Name: Healthy life expectancy, Length: 148, dtype: float64

### **Exercise**

Based on the our dataset's 'Healthy life expectancy' scores, lets make a new column with the name of **'Explained Healthy life expectancy'** with the new values which should consist of:
- Let's think 'Healthy life expectancy''s mean score as our threshold. 
-If 'Healthy life expectancy' is equal and greater than 75% of the 'Healthy life expectancy' score of the dataset , it should be written **''Long Life expectancy'**
-If 'Healthy life expectancy' less than 75% of the 'Healthy life expectancy' score of the dataset but bigger than our threshold, it should be written **'Longer than normal expectancy'**
--If 'Healthy life expectancy' equal or less than our threshold but bigger than 25% of the 'Healthy life expectancy' score of the dataset, it should be written **'Normal life expectancy'**
--If 'Healthy life expectancy' equal or less than 25% of the 'Healthy life expectancy' score of the dataset, it should be written **'Lower life expectancy'**
--Since We have projects with United states make sure that United States should be written as **'United States of America'**

In [ ]:
df1['Explained Healthy life expectancy']=

In [228]:
m=df1['Healthy life expectancy'].mean()
m

65.07725675675674

In [230]:
df1['Healthy life expectancy'].describe()

count    148.000000
mean      65.077257
std        6.705685
min       48.478000
25%       59.922000
50%       66.651500
75%       69.613000
max       76.953000
Name: Healthy life expectancy, dtype: float64

In [229]:
n=df1['Healthy life expectancy']*.75
n

Regional indicator  country
Western Europe      Finland        54.00000
                    Denmark        54.52500
                    Switzerland    55.80000
                    Iceland        54.75000
                    Netherlands    54.30000
                                     ...
Sub-Saharan Africa  Malawi         43.46100
                    Lesotho        36.52500
                    Botswana       44.45175
                    Rwanda         46.05000
                    Zimbabwe       42.15075
Name: Healthy life expectancy, Length: 148, dtype: float64

In [237]:
def life(x):
    if x>=69:
        return "Long Life expectancy"
    elif 64.67< x > 69 :
        return "Longer than normal expectancy"
    elif 59 < x > 64.67 :
        return "Normal life expectancy"
    else:
         return "Lower life expectancy"

In [240]:
df1["Explained Healthy life expectancy"]= df1['Healthy life expectancy'].apply(life)
df1

                                index  Freedom to make life choices  \
Regional indicator country
Western Europe     Finland          0                         0.949
                   Denmark          1                         0.946
                   Switzerland      2                         0.919
                   Iceland          3                         0.955
                   Netherlands      4                         0.913
...                               ...                           ...
Sub-Saharan Africa Malawi         143                         0.780
                   Lesotho        144                         0.715
                   Botswana       145                         0.824
                   Rwanda         146                         0.897
                   Zimbabwe       147                         0.677

                                Generosity  Healthy life expectancy  \
Regional indicator country
Western Europe     Finland          -0.098                   72.000
                   Denmark           0.030                   72.700
                   Switzerland       0.025                   74.400
                   Iceland           0.160                   73.000
                   Netherlands       0.175                   72.400
...                                    ...                      ...
Sub-Saharan Africa Malawi            0.038                   57.948
                   Lesotho          -0.131                   48.700
                   Botswana         -0.246                   59.269
                   Rwanda            0.061                   61.400
                   Zimbabwe         -0.047                   56.201

                                Ladder score  Logged GDP per capita  \
Regional indicator country
Western Europe     Finland             7.842                 10.775
                   Denmark             7.620                 10.933
                   Switzerland         7.571                 11.117
                   Iceland             7.554                 10.878
                   Netherlands         7.464                 10.932
...                                      ...                    ...
Sub-Saharan Africa Malawi              3.600                  6.958
                   Lesotho             3.512                  7.926
                   Botswana            3.467                  9.782
                   Rwanda              3.415                  7.676
                   Zimbabwe            3.145                  7.943

                                Perceptions of corruption  Social support  \
Regional indicator country
Western Europe     Finland                          0.186           0.954
                   Denmark                          0.179           0.954
                   Switzerland                      0.292           0.942
                   Iceland                          0.673           0.983
                   Netherlands                      0.338           0.942
...                                                   ...             ...
Sub-Saharan Africa Malawi                           0.729           0.537
                   Lesotho                          0.915           0.787
                   Botswana                         0.801           0.784
                   Rwanda                           0.167           0.552
                   Zimbabwe                         0.821           0.750

                                     new      new2  \
Regional indicator country
Western Europe     Finland      0.910116  0.013250
                   Denmark      0.910116  0.013122
                   Switzerland  0.887364  0.012661
                   Iceland      0.966289  0.013466
                   Netherlands  0.887364  0.013011
...                                  ...       ...
Sub-Saharan Africa Malawi       0.288369  0.009267
                   Lesotho      0.619369  0.016160
                   Botswana     0.614656  0.013228
                   Rwanda       0.304704  0.008990
                   Zimbabwe     0.562500  0.013345

                               Explained Healthy life expectancy
Regional indicator country
Western Europe     Finland                  Long Life expectancy
                   Denmark                  Long Life expectancy
                   Switzerland              Long Life expectancy
                   Iceland                  Long Life expectancy
                   Netherlands              Long Life expectancy
...                                                          ...
Sub-Saharan Africa Malawi                  Lower life expectancy
                   Lesotho                 Lower life expectancy
                   Botswana                Lower life expectancy
                   Rwanda                  Lower life expectancy
                   Zimbabwe                Lower life expectancy

[148 rows x 11 columns]

In [239]:
df2['Healthy life expectancy'].head()

Country name
Finland        None
Denmark        None
Switzerland    None
Iceland        None
Netherlands    None
Name: Healthy life expectancy, dtype: object

In [102]:
df2['Healthy life expectancy'].describe()

count    148.000000
mean      65.077257
std        6.705685
min       48.478000
25%       59.922000
50%       66.651500
75%       69.613000
max       76.953000
Name: Healthy life expectancy, dtype: float64

In [103]:
def long_life(life):
    if life >= 69.6:
        return 'Long Life expectancy'
    elif life > 64.992799  and life <69.6:
        return 'Longer than normal expectancy'
    elif life  > 59.802000  and life  <= 64.992799:
        return 'Normal life expectancy'
    else:
        return 'Lower life expectancy'

In [104]:
df2['Explained Healthy life expectancy']= df2['Healthy life expectancy'].apply(long_life)

In [105]:
df2.rename(index={'United States':'United States of America'},inplace=True)

In [106]:
df1.loc['United States','Healthy life expectancy']

68.2

In [107]:
df2.loc['United States of America','Explained Healthy life expectancy']

'Longer than normal expectancy'

#### **Replace**

In [108]:
df2['Healthy life expectancy']=df2['Explained Healthy life expectancy'].replace({'Longer than normal expectancy':'Life is short'}, inplace=True)
df2.loc['United States of America','Explained Healthy life expectancy']

'Life is short'

### Groupby

In [109]:
# Use a group by Regional indicator  to view the mean scores of the happiness(Ladder score)

# What can we say 
# Can we say that happiness differ by Regional indicator as the mean happiness score for one region is higher than others

In [110]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [111]:
df2['Regional indicator'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             6
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [112]:
df2['Regional indicator'].value_counts(normalize=True)

Sub-Saharan Africa                    0.243243
Western Europe                        0.141892
Latin America and Caribbean           0.135135
Central and Eastern Europe            0.114865
Middle East and North Africa          0.114865
Commonwealth of Independent States    0.081081
Southeast Asia                        0.060811
South Asia                            0.040541
East Asia                             0.040541
North America and ANZ                 0.027027
Name: Regional indicator, dtype: float64

In [113]:
df2.index

Index(['Finland', 'Denmark', 'Switzerland', 'Iceland', 'Netherlands', 'Norway',
       'Sweden', 'Luxembourg', 'New Zealand', 'Austria',
       ...
       'India', 'Burundi', 'Yemen', 'Tanzania', 'Haiti', 'Malawi', 'Lesotho',
       'Botswana', 'Rwanda', 'Zimbabwe'],
      dtype='object', name='Country name', length=148)

In [114]:
df1.groupby(['Regional indicator'])

In [115]:
df2.groupby(['Regional indicator']).get_group('Middle East and North Africa').mean()

Ladder score                    5.219765
Logged GDP per capita           9.666118
Social support                  0.797647
Healthy life expectancy              NaN
Freedom to make life choices    0.716471
Generosity                     -0.079765
Perceptions of corruption       0.762235
dtype: float64

In [116]:
df2.groupby(['Regional indicator']).get_group('Middle East and North Africa')

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Explained Healthy life expectancy
Country name,,,,,,,,,
Israel,Middle East and North Africa,7.157,10.575,0.939,None,0.800,0.031,0.753,Long Life expectancy
Bahrain,Middle East and North Africa,6.647,10.669,0.862,None,0.925,0.089,0.722,Life is short
United Arab Emirates,Middle East and North Africa,6.561,11.085,0.844,None,0.932,0.074,0.589,Life is short
Saudi Arabia,Middle East and North Africa,6.494,10.743,0.891,None,0.877,-0.149,0.684,Life is short
Kuwait,Middle East and North Africa,6.106,10.817,0.843,None,0.867,-0.104,0.736,Life is short
Libya,Middle East and North Africa,5.410,9.622,0.827,None,0.771,-0.087,0.667,Normal life expectancy
Turkey,Middle East and North Africa,4.948,10.240,0.822,None,0.576,-0.139,0.776,Life is short
Morocco,Middle East and North Africa,4.918,8.903,0.560,None,0.774,-0.236,0.801,Life is short
Algeria,Middle East and North Africa,4.887,9.342,0.802,None,0.480,-0.067,0.752,Life is short
Iraq,Middle East and North Africa,4.854,9.240,0.746,None,0.630,-0.053,0.875,Normal life expectancy
Iran,Middle East and North Africa,4.721,9.584,0.710,None,0.608,0.218,0.714,Life is short
Tunisia,Middle East and North Africa,4.596,9.266,0.691,None,0.656,-0.201,0.870,Life is short
Lebanon,Middle East and North Africa,4.584,9.626,0.848,None,0.525,-0.073,0.898,Life is short
Palestinian Territories,Middle East and North Africa,4.517,8.485,0.826,None,0.653,-0.163,0.821,Normal life expectancy
Jordan,Middle East and North Africa,4.395,9.182,0.767,None,0.755,-0.167,0.705,Life is short
Egypt,Middle East and North Africa,4.283,9.367,0.750,None,0.749,-0.182,0.795,Normal life expectancy
Yemen,Middle East and North Africa,3.658,7.578,0.832,None,0.602,-0.147,0.800,Lower life expectancy

**Exercise** : We are working as a Data Scientist at an internationally well-known infrastructure company, 
which makes projects all over the world. Right now, our company's focus areas are: 'Southeast Asia' and 'South Asia'.

In the first place, our boss wants us to prepare a descriptive report on the institutional integrity and citizens to trust their governments to see whether it is worthed to start a project idea to invest huge amount of money and time to those regions.

We are preparing a descriptive report for our boss, who does not have much knowledge of statistics or reading statistical results. As data scientists, we should prepare something concise and understandable.

Let's start with the following steps:

-First, decide on which variable would be a good choice to work on 

-Second give our boss both numbers and also kind of explanatory side (like we did before)

-Make a comparison between two regions in the text 

-Our report should contain 

--overall regions, 

--'Southeast Asia' and 'South Asia'

--variable and modified version of the variable